<!DOCTYPE html>
<html lang="es" ng-app="ListaRegalos">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/estilos_index.css" />
    <link rel="stylesheet" href="css/estilos-contactanos.css" />
    <link rel="stylesheet" href="css/estilos_genericos.css" />
    <link rel="stylesheet" href="css/estilos-menu.css" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <title>Lista de Regalos</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />

    <!-- Smartlook -->
    <script type="text/javascript">
        window.smartlook || (function(d) {
            var o = smartlook = function() {
                    o.api.push(arguments)
                },
                h = d.getElementsByTagName('head')[0];
            var c = d.createElement('script');
            o.api = new Array();
            c.async = true;
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.src = '//rec.smartlook.com/recorder.js';
            h.appendChild(c);
        })(document);
        smartlook('init', '7eaeeac2ce4dee32afc43bd363ba237371c25eea');

    </script>
    <!-- Smartlook -->


    <!-- Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-61589842-3', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Analytics -->

    <!-- SEO -->
    <meta name="description" content="Lugar donde podrás crear fácilmente tu lista de deseos, eligiendo complementos, muebles, decorativos y todo lo que encuentres en nuestro catálogo.">
    <meta name=”robots” content=”index,follow”>
    <meta name="keywords" content="lista,regalos,novios,matrimonio,home,novias,wedding,matisses">
    <!-- SEO -->


</head>

<body>

    <!-- Modal contacto -->
    <div ng-controller="ContactController">
        <div class="modal fade" tabindex="-1" id="myModalContacto" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content registro">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">Contáctanos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-1 text-center">
                                <input class="full" type="text" placeholder="Nombre" ng-model="nombre"><br>
                                <input class="full" type="email" placeholder="E-mail" ng-model="email"><br>
                                <input class="full" type="text" placeholder="Asunto" ng-model="asunto">
                            </div>
                            <div class="contactanos col-sm-6 text-center">
                                <textarea class="full" name="" placeholder="Déjanos aquí tu mensaje" id="" cols="30" rows="10" ng-model="mensaje"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer contactanos">
                        <div class="cursor-pointer col-xs-8 col-xs-offset-2 text-center enviar cursor-pointer" ng-click="enviarMensaje()">Enviar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de modal contacto -->

    <div ng-controller="HomeController">

        <!-- Modal de Validacion -->
        <div class="modal fade" id="modalVerificacion" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <!-- Inicio de modal verificacion -->
                <div class="modal-content verificacion">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="validacion">Validaci&oacute;n de datos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="textos">
                            <div class="textos">
                                <p>Se te ha enviado un SMS al n&uacute;mero ********{{cliente.celular| limitTo : 2 : 8}} y un correo electr&oacute;nico con el c&oacute;digo de confirmaci&oacute;n, ingr&eacute;salo a continuaci&oacute;n para validar tu informaci&oacute;n.
                                    <br>Si necesitas un nuevo c&oacute;digo, haz clic en el bot&oacute;n <i>Generar nuevo</i></p>
                            </div>
                        </div>
                        <div class="inputs">
                            <div class="row">
                                <div class="col-xs-10 col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                                    <input id="codigoValidacion" type="text" class="full" placeholder="Código" ng-model="codigoVerificacion" ng-keyup="procesarCodigo($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="inputs">
                                    <input type="button" value="Generar nuevo" class="generar-nuevo" ng-click="generarNuevoCodigo()" ng-if="!generandoCodigo" />
                                    <input type="image" src="images/cargando.gif" alt="Submit Form" ng-if="generandoCodigo" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputs">
                                    <input type="button" value="Validar" class="search" ng-click="validarCodigo()" />
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="alert alert-danger" role="alert" ng-show="mensajeErrorValidacion.length > 0">{{mensajeErrorValidacion}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="alert alert-danger" role="alert" ng-show="mensajeErrorRegistro.length > 0">{{mensajeErrorRegistro}}</div>
                            </div>
                            <div class="col-xs-12 col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin de modal verificacion -->
            </div>
        </div>
        <!-- fin modal de validacion -->

        <!-- Modal registro -->
        <div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content registro">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="Registro">Formulario de registro</h4>
                    </div>
                    <div class="modal-body">
                        <div class="textos text-center">
                            <p>Ingresa tus datos para completar el registro y continuar con la creación de tu lista.</p>
                        </div>
                        <div class="inputs">

                            <div class="titulo row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <h4>Información Personal</h4>
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <!--<input id="nombreCliente" type="text" class="full" placeholder="Nombre(s)" ng-model="cliente.primerNombre" />-->
                                    <input id="nombreCliente" type="text" class="full" placeholder="Nombre(s)" ng-model="cliente.nombres" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <input id="apellido1Cliente" type="text" class="full" placeholder="Primer Apellido" ng-model="cliente.apellido1" />
                                </div>
                                <div class="col-sm-4">
                                    <input id="apellido2Cliente" type="text" class="full" placeholder="Segundo Apellido" ng-model="cliente.apellido2" />
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-4 col-sm-offset-2">
                                    <div class="dropdown">
                                        <button class="full dropdown-toggle noround" type="button" id="dropTipoDoc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{tipoDocumento.name}}
                                        <span class="caret pull-right"></span>
                                    </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropTipoDoc" role="menu">
                                            <li ng-click="seleccionarTipoDocumento(tipo)" ng-repeat="tipo in tiposDocumento"><a href="javascript:void(0);">{{tipo.name}}</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <input id="cedulaCliente" type="text" class="full" placeholder="Cédula" ng-model="cliente.nit" />
                                </div>
                            </div>

                            <div class="titulo row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <h4>Informaci&oacute;n de Contacto</h4>
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-sm-offset-2  col-md-offset-2">
                                    <input id="telefonoCliente" type="text" class="full" placeholder="Celular" ng-model="cliente.celular" />
                                </div>
                                <div class="col-md-4 col-sm-6 col-sm-offset-2 col-md-offset-0 ">
                                    <input id="correo" type="email" class="full" placeholder="Correo" ng-model="cliente.email" />
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4 col-sm-6 col-sm-offset-2 col-md-offset-2">
                                    <div class="dropdown" ng-keypress="buscarCiudad($event)">
                                        <button class="full dropdown-toggle noround" type="button" id="ciudades" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{ciudadSeleccionada.nombre}}
                                        <span class="caret pull-right"></span>
                                    </button>
                                        <ul class="dropdown-menu" aria-labelledby="ciudades" role="menu" id="listaCiudades">
                                            <li ng-click="seleccionarCiudad(ciudad)" ng-repeat="ciudad in ciudades"><a href="javascript:void(0);">{{ciudad.nombre}}</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-8 col-sm-offset-2  col-md-offset-0">
                                    <input id="direccionCliente" type="text" class="full" placeholder="Dirección" ng-model="cliente.direccion" />
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="alert alert-danger" role="alert" ng-show="mensajeErrorRegistro.length > 0">{{mensajeErrorRegistro}}</div>
                            </div>
                            <div class="col-xs-12 col-md-4 col-md-offset-2">
                                <div class="inputs">
                                    <input type="button" value="Registrarse" class="search" ng-click="crearCliente()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Modal registro -->

        <!-- Modal ayuda -->
        <div class="modal fade" id="ayuda" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content registro">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">Tutoriales</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-4 col-md-offset-1">

                        </div>
                        <div class="col-md-4 col-md-offset-1"></div>
                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseBuscar" aria-expanded="false" aria-controls="collapseBuscar">
                        Video tutorial si vas a comprar un regalo</a>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCrear" aria-expanded="false" aria-controls="collapseCrear">
                        Video tutorial si vas a crear una lista</button>
                        <br>
                        <div class="collapse" id="collapseBuscar">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/GuWM3yHC7Qc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="collapse" id="collapseCrear">
                            video de crear lista
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal ayuda -->

        <!-- menu -->
        <nav class="navbar navbar-default navbar-matisses navbar-fixed-top">
            <div class="container">
                <div class="redes row">
                    <div class="col-xs-12 text-right col-xs-offset-0 col-sm-3 col-sm-offset-9">
                        <a href="https://www.facebook.com/matissesfanpage" target="_blank"><span class="cursor-pointer icon-facebook"></span></a>
                        <a href="https://www.instagram.com/matisses/" target="_blank"><span class="cursor-pointer icon-instagram"></span></a>
                        <a href="https://es.pinterest.com/matisses/" target="_blank"><span class="cursor-pointer icon-pinterest"></span></a>
                        <a href="https://www.houzz.es/pro/matisses/matisses" target="_blank"><span class="cursor-pointer icon-houzz"></span></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed boton-mobile" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                    <a class="navbar-brand navbrand-matisses" href="https://www.matisses.co/" target="_blank">
                        <!-- Logo -->
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="155.145px" height="32.748px" viewbox="0 0 155.145 32.748" enable-background="new 0 0 155.145 32.748" xml:space="preserve">
<g>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M59.785,16.435c-4.055-10.704-19.452-10.186-22.63,0.707
		c-0.815,2.801-0.647,5.418,0.523,8.104c3.093,7.105,11.861,9.883,18.89,4.332v3.141h3.934V22.304
		C60.501,20.174,60.554,18.464,59.785,16.435 M48.548,28.54c-4.421,0-8.023-3.599-8.023-8.023c0-4.418,3.603-8.02,8.023-8.02
		c4.418,0,8.02,3.601,8.02,8.02C56.568,24.941,52.966,28.54,48.548,28.54"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M60.537,12.531V8.613l4.212-0.004L64.751,0h3.92v8.613h4.67v3.884
		h-4.672l0.002,15.568c-0.016,0.611,0.216,1.012,0.887,1.023h2.68l0.009,3.608l-3.579,0.028c-2.428-0.005-3.884-1.243-3.92-3.637
		V12.535L60.537,12.531z"/>
	<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" points="75.596,8.609 79.708,8.597 79.708,32.721 75.596,32.726 	
		"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M81.29,29.089l2.469-2.65c1.106,1.248,3.169,2.715,4.627,2.639
		c2.38-0.109,3.699-1.752,3.614-3.354c-0.242-4.564-9.869-4.039-9.43-11.261c0.476-4.637,3.977-6.137,6.533-6.085
		c2.75,0.059,5.204,1.775,6.668,3.648l-2.437,2.364c-1.26-1.166-2.304-2.39-4.481-2.364c-1.685,0.06-2.756,1.304-2.756,2.629
		c-0.109,4.036,9.471,4.077,9.62,11.033c-0.274,4.01-3.195,7.049-7.225,6.983C85.652,32.712,82.803,30.992,81.29,29.089"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M96.925,29.053l2.471-2.65c1.106,1.242,3.165,2.714,4.626,2.635
		c2.379-0.105,3.699-1.744,3.61-3.354c-0.236-4.566-9.868-4.035-9.427-11.256c0.473-4.638,3.974-6.138,6.531-6.086
		c2.751,0.06,5.203,1.775,6.668,3.647l-2.438,2.363c-1.251-1.165-2.299-2.388-4.479-2.363c-1.684,0.06-2.757,1.305-2.757,2.624
		c-0.108,4.05,9.471,4.077,9.62,11.038c-0.277,4.014-3.188,7.046-7.219,6.983C101.284,32.671,98.441,30.958,96.925,29.053"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M136.275,29.089l2.473-2.659c1.108,1.252,3.169,2.715,4.626,2.641
		c2.38-0.108,3.71-1.745,3.613-3.354c-0.231-4.571-9.87-4.038-9.431-11.258c0.477-4.639,3.986-6.143,6.545-6.087
		c2.736,0.064,5.194,1.772,6.66,3.646l-2.431,2.366c-1.248-1.17-2.303-2.389-4.477-2.366c-1.695,0.064-2.758,1.306-2.766,2.629
		c-0.113,4.043,9.48,4.081,9.613,11.033c-0.26,4.012-3.18,7.05-7.222,6.991C140.648,32.706,137.789,30.984,136.275,29.089"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M124.143,29.294c-5.242-0.277-7.678-3.494-7.92-8.103
		l19.783-0.015c-0.063-8.187-5.308-12.549-11.913-12.684c-5.813-0.168-11.609,4.567-11.76,11.971
		c0.404,7.077,4.171,12.005,11.98,12.272c4.797,0.063,9.063-2.816,11.176-7.151l-3.287-1.791
		C130.543,27.006,127.978,29.28,124.143,29.294 M124.036,12.034c3.061,0.067,6.839,1.597,7.701,5.896l-15.085-0.007
		C116.895,15.919,119.618,12.018,124.036,12.034"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M0,32.726h3.65L3.649,17.48
		c1.262-6.412,10.188-7.387,11.591-0.016l0.008,15.261l3.837-0.007l0-15.238c1.822-8.021,11.688-5.398,11.599,0.006v15.239h3.703
		V17.48c-0.303-9.662-12.989-11.269-17.149-5.143C12.754,6.069,0.419,8.084,0,17.486V32.726z"/>
	<path fill="#B4A46B" d="M155.145,31.01c0,0.317-0.065,0.601-0.224,0.868c-0.141,0.275-0.35,0.481-0.605,0.628
		c-0.255,0.165-0.53,0.242-0.831,0.242c-0.292,0-0.569-0.077-0.825-0.242c-0.26-0.146-0.458-0.353-0.607-0.628
		c-0.146-0.268-0.221-0.551-0.221-0.868c0-0.308,0.075-0.596,0.221-0.871c0.149-0.264,0.348-0.474,0.607-0.639
		c0.256-0.147,0.533-0.22,0.825-0.22c0.301,0,0.576,0.072,0.831,0.22c0.256,0.165,0.465,0.375,0.605,0.639
		C155.079,30.414,155.145,30.702,155.145,31.01 M154.823,31.01c0-0.385-0.128-0.712-0.384-0.992c-0.263-0.271-0.575-0.41-0.955-0.41
		c-0.362,0-0.675,0.139-0.941,0.41c-0.262,0.28-0.394,0.607-0.394,0.992c0,0.386,0.132,0.721,0.394,0.984
		c0.267,0.286,0.579,0.42,0.941,0.42c0.38,0,0.692-0.134,0.955-0.42C154.695,31.73,154.823,31.396,154.823,31.01 M152.739,30.075
		h0.792c0.221,0,0.389,0.061,0.492,0.152c0.096,0.096,0.144,0.223,0.144,0.381c0,0.122-0.036,0.234-0.111,0.321
		c-0.078,0.091-0.192,0.159-0.365,0.202c0.068,0.025,0.111,0.053,0.146,0.082c0.052,0.051,0.092,0.113,0.146,0.187
		c0.01,0.01,0.106,0.183,0.287,0.535h-0.525c-0.168-0.353-0.28-0.559-0.337-0.631c-0.055-0.069-0.119-0.104-0.179-0.104
		c-0.004,0-0.03,0-0.049,0.008v0.728h-0.44V30.075z M153.18,30.879h0.19c0.123,0,0.21-0.036,0.271-0.069
		c0.05-0.049,0.075-0.1,0.075-0.172c0-0.069-0.025-0.12-0.075-0.17c-0.05-0.036-0.129-0.064-0.256-0.064h-0.205V30.879z"/>
</g>
</svg>
                        <!-- Fin logo -->
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="menu-collapse">
                    <ul class="nav navbar-nav navbar-right navlinks-matisses">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="pages/novios.html">Beneficios novios</a></li>
                        <li><a href="pages/tips.html">Tips para hacer tu lista</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#myModalContacto">Contáctanos</a></li>
                        <li><a onclick="javascript:OpenLHNChat();return false;" href="#"><span class="glyphicon glyphicon-comment"></span> Chat</a></li>
                        <!-- 
                        <li><a href="#" data-toggle="modal" data-target="#ayuda"><span class="glyphicon glyphicon-question-sign"></span></a></li>-->
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5 text-center" style="height:0;">
                    <img src="images/vector.png" alt="matisses" style="position:relative; top:-9px;">
                </div>
            </div>
        </nav>
        <!-- Fin menu -->

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                        <img src="images/header.png" class="img-responsive" width="100%" alt="">
                    </div>

                    <div class="col-xs-12">
                        <h1 class="h1-serif">¿Que es?</h1>
                    </div>

                    <div class="col-md-12 text-justify">
                        <p>Lista de regalos Matisses te permite elegir entre todos los productos que tenemos en nuestro amplio catálogo, puedes compartirla con tus invitados, ellos podrán elegir de tu lista lo que quieren regalarte, pagar en línea y nosotros te lo entregamos en el lugar que elijas. También podrás activar las Gift Card para comprar lo que más te guste.</p>
                    </div>

                </div>
            </div>

            <div class="container-fluid">
                <div class="row buscar-crear text-center">
                    <div class="container">
                        <!-- buscar lista -->
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="h1-serif">Buscar una lista de regalos</h1>
                                    <p>Encuentra una lista de regalos y obsequia a tus amigos lo que más desean, puedes buscar por Nombre o Apellido del creador o co-creador, o encuéntrala con el código.
                                        <br>
                                        <br>Las listas privadas solamente pueden ser encontradas con el código (averígualo con los creadores).
                                    </p>
                                </div>

                                <div class="col-md-5 col-md-offset-1">
                                    <br><br>
                                    <div class="inputs">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <input id="nombreBusqueda" type="text" placeholder="Nombre" class="full" ng-model="nombreBusqueda" ng-keyup="procesarEntrada($event)" />
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <input id="apellidoBusqueda" type="text" placeholder="Apellido" class="full" ng-model="apellidoBusqueda" ng-keyup="procesarEntrada($event)" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input id="codigoBusqueda" type="text" name="codigo" placeholder="Código" class="full" ng-model="codigoLista" ng-keyup="procesarEntrada($event)" />
                                            </div>
                                            <div class="col-md-4 col-md-offset-8 col-xs-12">
                                                <input type="button" name="buscar" value="Buscar" class="search" ng-click="consultarLista()" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="alert alert-danger" role="alert" ng-show="mensajeErrorBusqueda.length > 0" ng-cloak>
                                                    <p><strong>¡Error! </strong>{{mensajeErrorBusqueda}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin buscar lista -->

                        <!-- Crear lista -->
                        <div class="col-xs-12 text-center">
                            <hr class="dividir" />
                            <img src="images/vector.png" alt="matisses" style="position:relative; top:-12px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="h1-serif">Crea o administra tu lista</h1>
                                    <p>
                                        Completa tu informaci&oacute;n, añade a alguien más si deseas que te ayude a crear tu lista ideal, dale tu estilo cargando imágenes de perfil y portada e incluye un mensaje de bienvenida a quienes visitan tu sitio. Te explicaremos paso a paso.
                                        <br/>
                                        <br>Si ya eres creador o co-creador de una o varias listas de regalos, adminístralas aquí, edita productos, cantidades, estilo y mensajes.

                                    </p>
                                </div>

                                <div class="col-md-5 col-md-offset-1">
                                    <div class="inputs">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input id="email" type="email" placeholder="Email" class="full" ng-model="cliente.email" />
                                            </div>
                                            <div class="col-xs-12">
                                                <input id="cedula" type="text" placeholder="Documento" class="full" ng-model="cliente.nit" ng-keyup="procesarLogin($event)" />
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="col-xs-12">
                                                <div class="form-inline">
                                                    <div id="chk_entiendo" class="checkbox">
                                                        <label>
                                                          <input id="chk_entiendo" type="checkbox" ng-model="acepto" /> Entiendo que para el uso de esta plataforma recibir&eacute; notificaciones mediante SMS y correo electr&oacute;nico.
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Fin Checkbox -->
                                            <div class="col-md-4 col-md-offset-8 col-xs-12 text-center">
                                                <input type="button" name="ingresar" value="Ingresar" class="search" ng-click="validarCliente()" ng-if="!validandoCliente">
                                                <input type="image" src="images/cargando.gif" alt="Submit Form" ng-if="validandoCliente" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div id="errorUsuario" class="alert alert-danger" role="alert" ng-show="mensajeErrorUsuario.length > 0" ng-cloak>
                                                    <p><strong>¡Error! </strong>{{mensajeErrorUsuario}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Crear lista -->
                    </div>
                </div>
            </div>

            <div class="container extras">
                <div class="row">
                    <a href="pages/novios.html">
                        <div class="col-md-6 text-center">
                            <img src="images/beneficios.jpg" width="100%" alt="">
                            <h1 class="h1-serif">Beneficios novios Matisses</h1>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="152.667px" height="21.125px" viewBox="0 0 152.667 21.125" enable-background="new 0 0 152.667 21.125" xml:space="preserve">
<g>
	<g>
		<g>
			<g>
				<g>
					<path fill="#B4A46B" d="M69.396,20.078c-0.214,0-0.426-0.016-0.641-0.029c-2.431-0.224-4.341-1.71-4.983-3.891
						c-0.136-0.464,0.125-0.94,0.584-1.075c0.458-0.135,0.938,0.127,1.074,0.582c0.446,1.509,1.747,2.501,3.48,2.658
						c1.576,0.142,3.81-0.462,4.913-2.651c0.8-1.582,0.953-3.331,0.417-4.784c-0.551-1.493-1.815-2.696-3.653-3.469
						c-4.141-1.736-7.915,0.332-12.066,3.002c-3.058,1.965-6.632,3.999-10.37,3.108c-1.055-0.255-2.1-0.741-2.799-1.3
						c-2.07-1.67-2.831-3.971-2.086-6.308c0.581-1.822,1.876-3.204,3.55-3.786c1.721-0.594,4.036-0.194,5.136,1.732
						c0.236,0.41,0.091,0.94-0.323,1.18c-0.413,0.235-0.943,0.089-1.181-0.326c-0.625-1.094-2.045-1.306-3.065-0.952
						c-1.155,0.403-2.057,1.378-2.469,2.678c-0.673,2.105,0.458,3.577,1.525,4.439c0.498,0.399,1.308,0.77,2.111,0.962
						c3.073,0.723,6.276-1.108,9.036-2.886c3.525-2.265,8.354-5.372,13.669-3.139c2.294,0.963,3.888,2.507,4.608,4.465
						c0.701,1.91,0.52,4.149-0.495,6.165C74.231,18.698,71.931,20.078,69.396,20.078z"/>
				</g>
			</g>
			<g>
				<g>
					<path fill="#B4A46B" d="M64.286,17.085c-0.784-0.919-0.675-2.295,0.243-3.077c0.916-0.785,2.296-0.682,3.083,0.238
						c0.784,0.918,0.674,2.301-0.243,3.084C66.451,18.115,65.07,18.002,64.286,17.085z"/>
				</g>
			</g>
			<g>
				<g>
					<circle fill="#B4A46B" cx="49.96" cy="4.936" r="2.185"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path fill="#B4A46B" d="M83.272,20.078c-2.539,0-4.835-1.374-5.975-3.623c-1.015-2.016-1.194-4.263-0.493-6.165
						c0.723-1.958,2.315-3.502,4.607-4.465c5.316-2.233,10.146,0.874,13.67,3.139c2.759,1.778,5.963,3.608,9.036,2.886
						c0.803-0.192,1.613-0.563,2.11-0.962c1.067-0.862,2.197-2.333,1.527-4.439c-0.416-1.3-1.313-2.274-2.47-2.678
						c-1.021-0.352-2.44-0.142-3.067,0.956c-0.236,0.411-0.763,0.557-1.182,0.322c-0.411-0.24-0.559-0.77-0.319-1.18
						c1.098-1.926,3.419-2.326,5.137-1.732c1.672,0.582,2.969,1.963,3.546,3.786c0.748,2.337-0.015,4.637-2.084,6.308
						c-0.695,0.559-1.747,1.045-2.801,1.3c-3.73,0.882-7.309-1.143-10.37-3.108c-4.152-2.67-7.924-4.738-12.061-3.002
						c-1.844,0.772-3.106,1.976-3.658,3.469c-0.535,1.453-0.382,3.202,0.417,4.784c1.107,2.189,3.34,2.793,4.915,2.651
						c1.73-0.157,3.034-1.149,3.48-2.658c0.133-0.455,0.619-0.717,1.073-0.582c0.455,0.135,0.718,0.611,0.582,1.075
						c-0.641,2.181-2.553,3.667-4.98,3.891C83.697,20.063,83.486,20.078,83.272,20.078z"/>
				</g>
			</g>
			<g>
				<g>
					<path fill="#B4A46B" d="M88.378,17.085c0.786-0.919,0.678-2.295-0.24-3.077c-0.914-0.785-2.297-0.682-3.079,0.238
						c-0.785,0.918-0.677,2.301,0.238,3.084C86.213,18.115,87.596,18.002,88.378,17.085z"/>
				</g>
			</g>
			<g>
				<g>
					<circle fill="#B4A46B" cx="102.706" cy="4.936" r="2.184"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<g>
					<path fill="#B4A46B" d="M49.621,13.775c-0.003,0-0.006,0-0.006,0c-4.423-0.038-7.819-2.821-10.815-5.285
						c-0.359-0.291-0.713-0.582-1.066-0.866C34.263,4.832,27.7,0.69,22.71,4.35c-0.809,0.594-1.638,1.81-1.848,2.718
						c-0.338,1.452,0.115,2.864,1.208,3.778c1.067,0.888,2.469,1.093,3.744,0.535c1.133-0.49,1.565-1.749,1.329-2.685
						c-0.218-0.864-0.923-1.285-1.989-1.191c-0.206,0.015-0.454,0.119-0.53,0.358c-0.01,0.03-0.018,0.07-0.021,0.111
						c0.312,0.091,0.558,0.351,0.611,0.695c0.078,0.47-0.244,0.911-0.717,0.989c-0.482,0.079-0.931-0.082-1.237-0.436
						c-0.447-0.52-0.459-1.345-0.283-1.889c0.28-0.859,1.074-1.472,2.025-1.554c2.292-0.202,3.478,1.157,3.818,2.494
						c0.407,1.614-0.265,3.808-2.317,4.695c-1.861,0.807-3.983,0.501-5.542-0.798c-1.605-1.335-2.273-3.39-1.785-5.496
						c0.306-1.314,1.361-2.875,2.512-3.718c5.922-4.338,13.274,0.217,17.13,3.315c0.358,0.292,0.718,0.583,1.08,0.881
						c2.91,2.39,5.919,4.859,9.728,4.897c0.478,0,0.862,0.388,0.86,0.866C50.481,13.396,50.095,13.775,49.621,13.775z"/>
				</g>
			</g>
			<g>
				<g>
					<circle fill="#B4A46B" cx="25.059" cy="8.214" r="2.185"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path fill="#B4A46B" d="M103.047,13.775c-0.475,0-0.859-0.38-0.867-0.858c0-0.479,0.382-0.866,0.86-0.866
						c3.812-0.038,6.818-2.507,9.729-4.897c0.363-0.299,0.726-0.59,1.083-0.881c3.853-3.099,11.205-7.659,17.124-3.315
						c1.154,0.844,2.208,2.404,2.515,3.718c0.485,2.106-0.179,4.16-1.784,5.496c-1.557,1.299-3.682,1.604-5.54,0.798
						c-2.055-0.888-2.728-3.081-2.315-4.695c0.336-1.337,1.522-2.695,3.817-2.494c0.949,0.082,1.747,0.695,2.021,1.554
						c0.176,0.544,0.164,1.367-0.284,1.889c-0.306,0.354-0.754,0.515-1.237,0.436c-0.472-0.078-0.793-0.519-0.718-0.989
						c0.055-0.344,0.304-0.604,0.611-0.695c0-0.041-0.007-0.082-0.018-0.111c-0.079-0.239-0.326-0.343-0.531-0.358
						c-1.063-0.094-1.77,0.327-1.99,1.191c-0.235,0.937,0.194,2.195,1.328,2.685c1.278,0.558,2.679,0.353,3.746-0.535
						c1.095-0.914,1.545-2.326,1.207-3.778c-0.21-0.908-1.037-2.125-1.844-2.718c-4.994-3.655-11.559,0.482-15.025,3.274
						c-0.355,0.284-0.71,0.575-1.068,0.866c-2.996,2.464-6.394,5.247-10.813,5.285C103.054,13.775,103.05,13.775,103.047,13.775z"/>
				</g>
			</g>
			<g>
				<g>
					<circle fill="#B4A46B" cx="127.608" cy="8.214" r="2.186"/>
				</g>
			</g>
		</g>
	</g>
</g>
</svg>
                        </div>
                    </a>
                    <a href="pages/tips.html">
                        <div class="col-md-6 text-center">
                            <img src="images/tips.jpg" width="100%" alt="">
                            <h1 class="h1-serif">Tips para tu lista</h1>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="152.667px" height="21.125px" viewBox="0 0 152.667 21.125" enable-background="new 0 0 152.667 21.125" xml:space="preserve">
<g>
	<g>
		<g>
			<g>
				<g>
					<path fill="#B4A46B" d="M69.396,20.078c-0.214,0-0.426-0.016-0.641-0.029c-2.431-0.224-4.341-1.71-4.983-3.891
						c-0.136-0.464,0.125-0.94,0.584-1.075c0.458-0.135,0.938,0.127,1.074,0.582c0.446,1.509,1.747,2.501,3.48,2.658
						c1.576,0.142,3.81-0.462,4.913-2.651c0.8-1.582,0.953-3.331,0.417-4.784c-0.551-1.493-1.815-2.696-3.653-3.469
						c-4.141-1.736-7.915,0.332-12.066,3.002c-3.058,1.965-6.632,3.999-10.37,3.108c-1.055-0.255-2.1-0.741-2.799-1.3
						c-2.07-1.67-2.831-3.971-2.086-6.308c0.581-1.822,1.876-3.204,3.55-3.786c1.721-0.594,4.036-0.194,5.136,1.732
						c0.236,0.41,0.091,0.94-0.323,1.18c-0.413,0.235-0.943,0.089-1.181-0.326c-0.625-1.094-2.045-1.306-3.065-0.952
						c-1.155,0.403-2.057,1.378-2.469,2.678c-0.673,2.105,0.458,3.577,1.525,4.439c0.498,0.399,1.308,0.77,2.111,0.962
						c3.073,0.723,6.276-1.108,9.036-2.886c3.525-2.265,8.354-5.372,13.669-3.139c2.294,0.963,3.888,2.507,4.608,4.465
						c0.701,1.91,0.52,4.149-0.495,6.165C74.231,18.698,71.931,20.078,69.396,20.078z"/>
				</g>
			</g>
			<g>
				<g>
					<path fill="#B4A46B" d="M64.286,17.085c-0.784-0.919-0.675-2.295,0.243-3.077c0.916-0.785,2.296-0.682,3.083,0.238
						c0.784,0.918,0.674,2.301-0.243,3.084C66.451,18.115,65.07,18.002,64.286,17.085z"/>
				</g>
			</g>
			<g>
				<g>
					<circle fill="#B4A46B" cx="49.96" cy="4.936" r="2.185"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path fill="#B4A46B" d="M83.272,20.078c-2.539,0-4.835-1.374-5.975-3.623c-1.015-2.016-1.194-4.263-0.493-6.165
						c0.723-1.958,2.315-3.502,4.607-4.465c5.316-2.233,10.146,0.874,13.67,3.139c2.759,1.778,5.963,3.608,9.036,2.886
						c0.803-0.192,1.613-0.563,2.11-0.962c1.067-0.862,2.197-2.333,1.527-4.439c-0.416-1.3-1.313-2.274-2.47-2.678
						c-1.021-0.352-2.44-0.142-3.067,0.956c-0.236,0.411-0.763,0.557-1.182,0.322c-0.411-0.24-0.559-0.77-0.319-1.18
						c1.098-1.926,3.419-2.326,5.137-1.732c1.672,0.582,2.969,1.963,3.546,3.786c0.748,2.337-0.015,4.637-2.084,6.308
						c-0.695,0.559-1.747,1.045-2.801,1.3c-3.73,0.882-7.309-1.143-10.37-3.108c-4.152-2.67-7.924-4.738-12.061-3.002
						c-1.844,0.772-3.106,1.976-3.658,3.469c-0.535,1.453-0.382,3.202,0.417,4.784c1.107,2.189,3.34,2.793,4.915,2.651
						c1.73-0.157,3.034-1.149,3.48-2.658c0.133-0.455,0.619-0.717,1.073-0.582c0.455,0.135,0.718,0.611,0.582,1.075
						c-0.641,2.181-2.553,3.667-4.98,3.891C83.697,20.063,83.486,20.078,83.272,20.078z"/>
				</g>
			</g>
			<g>
				<g>
					<path fill="#B4A46B" d="M88.378,17.085c0.786-0.919,0.678-2.295-0.24-3.077c-0.914-0.785-2.297-0.682-3.079,0.238
						c-0.785,0.918-0.677,2.301,0.238,3.084C86.213,18.115,87.596,18.002,88.378,17.085z"/>
				</g>
			</g>
			<g>
				<g>
					<circle fill="#B4A46B" cx="102.706" cy="4.936" r="2.184"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<g>
					<path fill="#B4A46B" d="M49.621,13.775c-0.003,0-0.006,0-0.006,0c-4.423-0.038-7.819-2.821-10.815-5.285
						c-0.359-0.291-0.713-0.582-1.066-0.866C34.263,4.832,27.7,0.69,22.71,4.35c-0.809,0.594-1.638,1.81-1.848,2.718
						c-0.338,1.452,0.115,2.864,1.208,3.778c1.067,0.888,2.469,1.093,3.744,0.535c1.133-0.49,1.565-1.749,1.329-2.685
						c-0.218-0.864-0.923-1.285-1.989-1.191c-0.206,0.015-0.454,0.119-0.53,0.358c-0.01,0.03-0.018,0.07-0.021,0.111
						c0.312,0.091,0.558,0.351,0.611,0.695c0.078,0.47-0.244,0.911-0.717,0.989c-0.482,0.079-0.931-0.082-1.237-0.436
						c-0.447-0.52-0.459-1.345-0.283-1.889c0.28-0.859,1.074-1.472,2.025-1.554c2.292-0.202,3.478,1.157,3.818,2.494
						c0.407,1.614-0.265,3.808-2.317,4.695c-1.861,0.807-3.983,0.501-5.542-0.798c-1.605-1.335-2.273-3.39-1.785-5.496
						c0.306-1.314,1.361-2.875,2.512-3.718c5.922-4.338,13.274,0.217,17.13,3.315c0.358,0.292,0.718,0.583,1.08,0.881
						c2.91,2.39,5.919,4.859,9.728,4.897c0.478,0,0.862,0.388,0.86,0.866C50.481,13.396,50.095,13.775,49.621,13.775z"/>
				</g>
			</g>
			<g>
				<g>
					<circle fill="#B4A46B" cx="25.059" cy="8.214" r="2.185"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path fill="#B4A46B" d="M103.047,13.775c-0.475,0-0.859-0.38-0.867-0.858c0-0.479,0.382-0.866,0.86-0.866
						c3.812-0.038,6.818-2.507,9.729-4.897c0.363-0.299,0.726-0.59,1.083-0.881c3.853-3.099,11.205-7.659,17.124-3.315
						c1.154,0.844,2.208,2.404,2.515,3.718c0.485,2.106-0.179,4.16-1.784,5.496c-1.557,1.299-3.682,1.604-5.54,0.798
						c-2.055-0.888-2.728-3.081-2.315-4.695c0.336-1.337,1.522-2.695,3.817-2.494c0.949,0.082,1.747,0.695,2.021,1.554
						c0.176,0.544,0.164,1.367-0.284,1.889c-0.306,0.354-0.754,0.515-1.237,0.436c-0.472-0.078-0.793-0.519-0.718-0.989
						c0.055-0.344,0.304-0.604,0.611-0.695c0-0.041-0.007-0.082-0.018-0.111c-0.079-0.239-0.326-0.343-0.531-0.358
						c-1.063-0.094-1.77,0.327-1.99,1.191c-0.235,0.937,0.194,2.195,1.328,2.685c1.278,0.558,2.679,0.353,3.746-0.535
						c1.095-0.914,1.545-2.326,1.207-3.778c-0.21-0.908-1.037-2.125-1.844-2.718c-4.994-3.655-11.559,0.482-15.025,3.274
						c-0.355,0.284-0.71,0.575-1.068,0.866c-2.996,2.464-6.394,5.247-10.813,5.285C103.054,13.775,103.05,13.775,103.047,13.775z"/>
				</g>
			</g>
			<g>
				<g>
					<circle fill="#B4A46B" cx="127.608" cy="8.214" r="2.186"/>
				</g>
			</g>
		</g>
	</g>
</g>
</svg>
                        </div>
                    </a>
                </div>
            </div>

        </section>
        <br>
        <!-- Footer -->
        <footer class="navbar-footer">
            <div class="row" style="">
                <div class="col-md-2 col-md-offset-5 text-center" style="height:0px;">
                    <img src="../images/vector.png" alt="matisses" style="position:relative;top:-12px;">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="footer">
                            <a href="https://www.matisses.co/content/11-terminos-y-condiciones" target="_blank">Términos y condiciones </a>|
                            <a href="https://www.matisses.co/content/12-politica-de-manejo-de-datos" target="_blank">Política de manejo de datos </a>|
                            <a href="pages/preguntas_frecuentes.html" target="_blank">Preguntas Frecuentes</a>|
                            <a href="https://www.matisses.co/content/13-politica-de-privacidad" target="_blank">Política de privacidad</a> © Todos los derechos reservados Matisses 2017
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->


        <!-- Live Help Now -->
        <!-- This code must be installed within the body tags -->
        <script type="text/javascript">
            var lhnAccountN = "24694-1";
            var lhnButtonN = 0;
            var lhnChatPosition = 'default';
            var lhnInviteEnabled = 1;
            var lhnWindowN = 0;
            var lhnInviteN = 40236;
            var lhnDepartmentN = 29011;

        </script>
        <a href="http://www.livehelpnow.net/help-desk-software" target="_blank" style="font-size:10px;" id="lhnHelp">help desk software</a>
        <script src="//www.livehelpnow.net/lhn/widgets/chatbutton/lhnchatbutton-current.min.js" type="text/javascript" id="lhnscript"></script>

        <script type="text/javascript" src="assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/angular.min.js"></script>
        <script type="text/javascript" src="assets/js/app/config.js"></script>
        <script type="text/javascript" src="assets/js/app/app.js"></script>
        <script type="text/javascript" src="assets/js/app/contactanos.js"></script>
    </div>
</body>

</html>
