<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/estilos-contactanos.css" />
    <link rel="stylesheet" href="../css/estilos_genericos.css" />
    <link rel="stylesheet" href="../css/estilos-menu.css" />
    <link rel="stylesheet" href="../css/estilos_preguntas.css">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <title>Tips Listas de Regalos</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    
    <!-- Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-61589842-3', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Analytics -->
    
</head>

<body>

    <!-- Modal contacto -->
    <div ng-controller="ContactController">
        <div class="modal fade" tabindex="-1" id="myModalContacto" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content registro">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">Contáctanos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-1 text-center">
                                <input class="full" type="text" placeholder="Nombre" ng-model="nombre"><br>
                                <input class="full" type="email" placeholder="E-mail" ng-model="email"><br>
                                <input class="full" type="text" placeholder="Asunto" ng-model="asunto">
                            </div>
                            <div class="contactanos col-sm-6 text-center">
                                <textarea class="full" name="" placeholder="Déjanos aquí tu mensaje" id="" cols="30" rows="10" ng-model="mensaje"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer contactanos">
                        <div class="cursor-pointer col-xs-8 col-xs-offset-2 text-center enviar cursor-pointer" ng-click="enviarMensaje()">Enviar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de modal contacto -->

    <!-- Inicio Header -->
    <div class="container" ng-show="!mostrarInformacion" ng-cloak>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <header>
                    <img src="../images/loading.gif" class="img-responsive" />
                </header>
            </div>
        </div>
    </div>
    <!-- menu -->

    <nav class="navbar navbar-default navbar-matisses navbar-fixed-top">
        <div class="container">
            <div class="redes row">
                <div class="col-xs-12 text-right col-xs-offset-0 col-sm-3 col-sm-offset-9">
                    <a href="https://www.facebook.com/matissesfanpage" target="_blank"><span class="cursor-pointer icon-facebook"></span></a>
                    <a href="https://www.instagram.com/matisses/" target="_blank"><span class="cursor-pointer icon-instagram"></span></a>
                    <a href="https://es.pinterest.com/matisses/" target="_blank"><span class="cursor-pointer icon-pinterest"></span></a>
                    <a href="https://www.houzz.es/pro/matisses/matisses" target="_blank"><span class="cursor-pointer icon-houzz"></span></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed boton-mobile" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand navbrand-matisses" href="https://www.matisses.co/" target="_blank">
                    <!-- Logo -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="155.145px" height="32.748px" viewbox="0 0 155.145 32.748" enable-background="new 0 0 155.145 32.748" xml:space="preserve">
                    <g>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M59.785,16.435c-4.055-10.704-19.452-10.186-22.63,0.707
		c-0.815,2.801-0.647,5.418,0.523,8.104c3.093,7.105,11.861,9.883,18.89,4.332v3.141h3.934V22.304
		C60.501,20.174,60.554,18.464,59.785,16.435 M48.548,28.54c-4.421,0-8.023-3.599-8.023-8.023c0-4.418,3.603-8.02,8.023-8.02
		c4.418,0,8.02,3.601,8.02,8.02C56.568,24.941,52.966,28.54,48.548,28.54"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M60.537,12.531V8.613l4.212-0.004L64.751,0h3.92v8.613h4.67v3.884
		h-4.672l0.002,15.568c-0.016,0.611,0.216,1.012,0.887,1.023h2.68l0.009,3.608l-3.579,0.028c-2.428-0.005-3.884-1.243-3.92-3.637
		V12.535L60.537,12.531z"/>
	<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" points="75.596,8.609 79.708,8.597 79.708,32.721 75.596,32.726 	
		"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M81.29,29.089l2.469-2.65c1.106,1.248,3.169,2.715,4.627,2.639
		c2.38-0.109,3.699-1.752,3.614-3.354c-0.242-4.564-9.869-4.039-9.43-11.261c0.476-4.637,3.977-6.137,6.533-6.085
		c2.75,0.059,5.204,1.775,6.668,3.648l-2.437,2.364c-1.26-1.166-2.304-2.39-4.481-2.364c-1.685,0.06-2.756,1.304-2.756,2.629
		c-0.109,4.036,9.471,4.077,9.62,11.033c-0.274,4.01-3.195,7.049-7.225,6.983C85.652,32.712,82.803,30.992,81.29,29.089"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M96.925,29.053l2.471-2.65c1.106,1.242,3.165,2.714,4.626,2.635
		c2.379-0.105,3.699-1.744,3.61-3.354c-0.236-4.566-9.868-4.035-9.427-11.256c0.473-4.638,3.974-6.138,6.531-6.086
		c2.751,0.06,5.203,1.775,6.668,3.647l-2.438,2.363c-1.251-1.165-2.299-2.388-4.479-2.363c-1.684,0.06-2.757,1.305-2.757,2.624
		c-0.108,4.05,9.471,4.077,9.62,11.038c-0.277,4.014-3.188,7.046-7.219,6.983C101.284,32.671,98.441,30.958,96.925,29.053"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M136.275,29.089l2.473-2.659c1.108,1.252,3.169,2.715,4.626,2.641
		c2.38-0.108,3.71-1.745,3.613-3.354c-0.231-4.571-9.87-4.038-9.431-11.258c0.477-4.639,3.986-6.143,6.545-6.087
		c2.736,0.064,5.194,1.772,6.66,3.646l-2.431,2.366c-1.248-1.17-2.303-2.389-4.477-2.366c-1.695,0.064-2.758,1.306-2.766,2.629
		c-0.113,4.043,9.48,4.081,9.613,11.033c-0.26,4.012-3.18,7.05-7.222,6.991C140.648,32.706,137.789,30.984,136.275,29.089"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M124.143,29.294c-5.242-0.277-7.678-3.494-7.92-8.103
		l19.783-0.015c-0.063-8.187-5.308-12.549-11.913-12.684c-5.813-0.168-11.609,4.567-11.76,11.971
		c0.404,7.077,4.171,12.005,11.98,12.272c4.797,0.063,9.063-2.816,11.176-7.151l-3.287-1.791
		C130.543,27.006,127.978,29.28,124.143,29.294 M124.036,12.034c3.061,0.067,6.839,1.597,7.701,5.896l-15.085-0.007
		C116.895,15.919,119.618,12.018,124.036,12.034"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#B4A46B" d="M0,32.726h3.65L3.649,17.48
		c1.262-6.412,10.188-7.387,11.591-0.016l0.008,15.261l3.837-0.007l0-15.238c1.822-8.021,11.688-5.398,11.599,0.006v15.239h3.703
		V17.48c-0.303-9.662-12.989-11.269-17.149-5.143C12.754,6.069,0.419,8.084,0,17.486V32.726z"/>
	<path fill="#B4A46B" d="M155.145,31.01c0,0.317-0.065,0.601-0.224,0.868c-0.141,0.275-0.35,0.481-0.605,0.628
		c-0.255,0.165-0.53,0.242-0.831,0.242c-0.292,0-0.569-0.077-0.825-0.242c-0.26-0.146-0.458-0.353-0.607-0.628
		c-0.146-0.268-0.221-0.551-0.221-0.868c0-0.308,0.075-0.596,0.221-0.871c0.149-0.264,0.348-0.474,0.607-0.639
		c0.256-0.147,0.533-0.22,0.825-0.22c0.301,0,0.576,0.072,0.831,0.22c0.256,0.165,0.465,0.375,0.605,0.639
		C155.079,30.414,155.145,30.702,155.145,31.01 M154.823,31.01c0-0.385-0.128-0.712-0.384-0.992c-0.263-0.271-0.575-0.41-0.955-0.41
		c-0.362,0-0.675,0.139-0.941,0.41c-0.262,0.28-0.394,0.607-0.394,0.992c0,0.386,0.132,0.721,0.394,0.984
		c0.267,0.286,0.579,0.42,0.941,0.42c0.38,0,0.692-0.134,0.955-0.42C154.695,31.73,154.823,31.396,154.823,31.01 M152.739,30.075
		h0.792c0.221,0,0.389,0.061,0.492,0.152c0.096,0.096,0.144,0.223,0.144,0.381c0,0.122-0.036,0.234-0.111,0.321
		c-0.078,0.091-0.192,0.159-0.365,0.202c0.068,0.025,0.111,0.053,0.146,0.082c0.052,0.051,0.092,0.113,0.146,0.187
		c0.01,0.01,0.106,0.183,0.287,0.535h-0.525c-0.168-0.353-0.28-0.559-0.337-0.631c-0.055-0.069-0.119-0.104-0.179-0.104
		c-0.004,0-0.03,0-0.049,0.008v0.728h-0.44V30.075z M153.18,30.879h0.19c0.123,0,0.21-0.036,0.271-0.069
		c0.05-0.049,0.075-0.1,0.075-0.172c0-0.069-0.025-0.12-0.075-0.17c-0.05-0.036-0.129-0.064-0.256-0.064h-0.205V30.879z"/>
</g>
                    </svg>
                    <!-- Fin logo -->
                </a>
            </div>

            <div class="collapse navbar-collapse" id="menu-collapse">
                <ul class="nav navbar-nav navbar-right navlinks-matisses">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="novios.html">Beneficios novios</a></li>
                    <li><a href="pages/tips.html">Tips para hacer tu lista</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModalContacto">Contáctanos</a></li>
                    <li><a onclick="javascript:OpenLHNChat();return false;" href="#"><span class="glyphicon glyphicon-comment"></span> Chat</a></li>
                    <!-- <li><a href="#" data-toggle="modal" data-target="#ayuda"><span class="glyphicon glyphicon-question-sign"></span></a></li> -->
                </ul>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-md-2 col-md-offset-5 text-center" style="height:0;">
                <img src="../images/vector.png" alt="matisses" style="position:relative; top:-9px;">
            </div>
        </div>
    </nav>
    <!-- Fin menu -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 preguntas-body">
                <h1>¿Qué es Place to Pay?</h1>
<p>Place to Pay es la plataforma de pagos electrónicos que usa Matisses para procesar en línea las transacciones generadas en la tienda virtual con las formas de pago habilitadas para tal fin. </p>
 
<h1>¿Cómo puedo pagar? </h1>
<p>En la tienda virtual de Matisses usted podrá realizar su pago utilizando: PSE (débitos desde cuentas de ahorros y corrientes en Colombia); con tarjetas de Crédito de las siguientes franquicias: Visa, MasterCard, American Express, Credencial, Diners y Tarjeta Éxito.</p>

<h1>¿Es seguro ingresar mis datos bancarios en este sitio web? </h1>
<p>Para proteger tus datos Matisses delega en Place to Pay la captura de la información sensible. Nuestra plataforma de pagos cumple con los estándares exigidos por la norma internacional PCI DSS de seguridad en transacciones con tarjeta de crédito. Además tiene certificado de seguridad SSL expedido por GeoTrust una compañía Verisign, el cual garantiza comunicaciones seguras mediante la encriptación de todos los datos hacia y desde el sitio; de esta manera te podrás sentir seguro a la hora de ingresar la información de su tarjeta.</p> 

<p>Durante el proceso de pago, en el navegador se muestra el nombre de la organización autenticada, la autoridad que lo certifica y la barra de dirección cambia a color verde. Estas características son visibles de inmediato, dan garantía y confianza para completar la transacción en Place to Pay.</p>

<p>Place to Pay también cuenta con el monitoreo constante de McAfee Secure y la firma de mensajes electrónicos con Certicámara.</p>

<p>Place to Pay es una marca de la empresa colombiana EGM Ingeniería Sin Fronteras S.A.S. </p>
 
<h1>¿Puedo realizar el pago cualquier día y a cualquier hora? </h1>
<p>Sí, en Matisses podrás realizar tus compras en línea los 7 días de la semana, las 24 horas del día a sólo un clic de distancia. </p>

<h1>¿Puedo cambiar la forma de pago?</h1>
<p>Si aún no has finalizado tu pago, podrás volver al paso inicial y elegir la forma de pago que prefieras. Una vez finalizada la compra no es posible cambiar la forma de pago. 

Ojo: esto es lo que tiene que ver con la forma de pago, pero deberán mencionar las políticas de devolución que tenga la tienda para dar cumplimiento al artículo 51 de la Ley del Estatuto del Consumidor.</p>

<h1>¿Pagar electrónicamente tiene algún valor para mí como comprador? </h1>

<p>No, los pagos electrónicos realizados a través de Place to Pay no generan costos adicionales para el comprador. </p>

<h1>¿Qué debo hacer si mi transacción no concluyó?</h1>
<p>En primera instancia deberás revisar si llegó un mail de confirmación del pago en tu cuenta de correo electrónico (la inscrita en el momento de realizar el pago), en caso de no haberlo recibido, deberás contactar a Matisses para confirmar el estado de la transacción. </p>

<h1>¿Qué debo hacer si no recibí el comprobante de pago?</h1>
<p>Por cada transacción aprobada a través de Place to Pay, recibirás un comprobante del pago con la referencia de compra en la dirección de correo electrónico que indicaste al momento de pagar. Si no lo recibes, podrás contactar a Matisses o a la línea de Soporte Técnico de Place to Pay (4) 4442310 Ext. 108,113,114 o soporte@placetopay.com, para solicitar el reenvío del comprobante a la misma dirección de correo electrónico registrada al momento de pagar. </p>

            </div>
        </div>
    </div>

    

    

    

<!-- Footer -->
    <footer class="navbar-footer">
        <div class="row">
            <div class="col-md-2 col-md-offset-5 text-center" style="height:0px;">
                <img src="../images/vector.png" alt="matisses" style="position:relative;top:-12px;">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="footer">
                        <a href="https://www.matisses.co/content/11-terminos-y-condiciones" target="_blank">Términos y condiciones </a>|
                        <a href="https://www.matisses.co/content/12-politica-de-manejo-de-datos" target="_blank">Política de manejo de datos </a>|
                        <a href="pages/preguntas_frecuentes.html" target="_blank">Preguntas Frecuentes</a>|
                        <a href="https://www.matisses.co/content/13-politica-de-privacidad" target="_blank">Política de privacidad</a> © Todos los derechos reservados Matisses 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->




    <!-- Live Help Now -->
    <!-- This code must be installed within the body tags -->
    <script type="text/javascript">
        var lhnAccountN = "24694-1";
        var lhnButtonN = 0;
        var lhnChatPosition = 'default';
        var lhnInviteEnabled = 1;
        var lhnWindowN = 0;
        var lhnInviteN = 40236;
        var lhnDepartmentN = 29011;

    </script>
    <a href="http://www.livehelpnow.net/help-desk-software" target="_blank" style="font-size:10px;" id="lhnHelp">help desk software</a>
    <script src="//www.livehelpnow.net/lhn/widgets/chatbutton/lhnchatbutton-current.min.js" type="text/javascript" id="lhnscript"></script>

    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../assets/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/app/config.js"></script>
    <script type="text/javascript" src="../assets/js/app/app-resultado-busqueda.js"></script>
    <script type="text/javascript" src="../assets/js/app/contactanos.js"></script>

    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 30000
        })

    </script>
</body>

</html>
